extends layout

block content
    body
        div.container
            br
            br
            .alert.alert-danger(role='alert') The article you tried to delete does not exist.
                h1.display-1 :(
                    a.button.btn.btn-primary.alert-link.float-right(href='/')  
                        i.fa.fa-home