extends layout

block content
    body
        div.container
            br
            br
            br
            br
            .alert.alert-success(role='alert') Your article has been edited successfully.
                br
                br
                a.alert-link(href='/')  < Click here to see all articles again.