doctype html
html
    head
        title= `${title}`
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/public/bootstrap-4.4.1-dist/css/bootstrap.min.css')
        link(rel="stylesheet", href="/public/font-awesome-4.7.0/css/font-awesome.min.css")
        style.
            body {background-color: white;}
block content